.about{
	width: 700px;
	margin: 70px auto;
	text-align: justify;
	background: linear-gradient(90deg, rgba(52,81,89,1) 0%, rgba(80,163,162,1) 50%, rgba(83,227,166,1) 100%);
	display: grid;
	place-items: center;
}

.content{
	background-color: white;
	width:698px;
	margin: 1px 1px;
	z-index: 2;
}

.content p{
	font-size: 20px;
	margin: 35px 45px;
}

.corpse {
	display: flex;
	width: 90%;
}

section{
	width: 500px;
	margin: 0 25px;
	text-align: center;
}

section .title{
	background: rgb(52,81,89);
	background: linear-gradient(90deg, rgba(52,81,89,1) 0%, rgba(80,163,162,1) 50%, rgba(83,227,166,1) 100%);
	background-size: 400% 400%;
	color: white;
	height: 70px;
	border: 2px solid white;
	text-align: center;
	animation: gradient 15s ease infinite;
}

.menu{
	display: flex;
	flex-direction: column;
	margin-top: 25px;
}

.menu span{
	height: 1px;
	background: rgb(52,81,89);
	background: linear-gradient(90deg, rgba(52,81,89,1) 0%, rgba(80,163,162,1) 50%, rgba(83,227,166,1) 100%);
	width: 75%;
	margin: 25px auto;
}

.menu a{
	text-decoration: none;
	
	color: black;
	font-size: 20px;
	transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.menu a:hover {
  color: #fff;
  box-shadow: inset 300px 200px 0 0 rgba(80,163,162,1);
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}





@media (max-width: 1023px) {
	.corpse{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 770px) {
	.about{
		width: 90%;
		background: inherit;
		margin: 12px 0px;
  }

  .content{
	width: 90%;
	 margin: inherit;
  }

  .content p{
	margin: inherit;
  }

}

@media (max-width: 583px) {
	
	.content p{
		 margin: inherit;
 	}
	 section{
		 width: 90%;
	 }

}