*{
    box-sizing: border-box;
    background-color:#A1887F;
    color: white;
}




a{text-decoration: none;}

#About{
    width: 70%;
    margin: 0 auto;
}
#About a{
    color: rgba(62, 39, 35);
}
#About span{
    color: rgba(62, 39, 35);
    font-weight: bold;
}

#About a:hover{
    font-weight: bold;
    color: white;
}

#About p:first-of-type::first-letter{
    float: left;
    font-size: 3rem;
    line-height: 3vw;
    padding-right: 8px;

}

.menu{
    margin-top: 25px;
    height: 33.33%;
	width: 100%; 
    display: flex;
    justify-content: space-around;
}

.accordion {
  background-color:#A1887F;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 250px;
  text-align: left;
  border: none;
  outline: none;
  transition: all 0.5s;
  position: relative;
}

.active, .accordion:hover {
  background-color: #A1887F;
}

.accordion::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(62, 39, 35,0.2);
	transition: all 0.3s;
}

.accordion:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}

.accordion::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
}

.accordion:hover::after {
	opacity: 1;
	transform: scale(1,1);
}

.panel{
    padding: 0px 50px;
    margin-top: 15px;
    background-color: #A1887F;
    max-height: 0;
    width: 250px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: flex;
    flex-direction: column;

}

.btn{
    color: white;
    transition: all 0.3s;
	position: relative;
    text-align: left;
    border: none;
    outline: none;
    margin: 15px 0px;
    height: 50px;
    line-height: 50px;
	width: 100%; 
    display: flex;
    justify-content: center;

}

.btn span {
	transition: all 0.3s;

}

.btn::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.btn:hover span {
	letter-spacing: 2px;
}

.btn:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}

.btn::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(62, 39, 35,0.2);
}

.btn:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}

#Creator{
    bottom: 0;
    position: absolute;
    right: 0;
}

#Creator p{
   margin-right: 25px;
}